<h2>Book Details</h2>
<hr/>

<div *ngIf="book && bookDetails" class="row g-4">
  <div class="col-md-4 text-center">
    <ng-container *ngIf="bookDetails.coverImage; else noCoverImage">
      <img [src]="bookDetails.coverImage"
           alt="Book cover"
           class="img-fluid" />
    </ng-container>
    <ng-template #noCoverImage>
      <i class="fa-solid fa-book-open-reader fa-10x text-muted"></i>
    </ng-template>
  </div>

  <div class="col-md-8">
    <div class="mb-2"><strong>Title:</strong> {{ book.title }}</div>
    <div class="mb-2"><strong>Author:</strong> {{ book.author }}</div>
    <div class="mb-2"><strong>ISBN:</strong> {{ book.isbn }}</div>
    <div class="mb-2"><strong>Genre:</strong> {{ book.genre }}</div>

    <div *ngIf="bookDetails.publishers?.length">
      <div class="mb-2"><strong>Publisher:</strong> {{ bookDetails.publishers[0] }}</div>
    </div>

    <div *ngIf="bookDetails.publishDate">
      <div class="mb-2"><strong>Publish Date:</strong> {{ bookDetails.publishDate }}</div>
    </div>

    <div *ngIf="bookDetails.numberOfPages">
      <div class="mb-2"><strong>Number of Pages:</strong> {{ bookDetails.numberOfPages }}</div>
    </div>
  </div>
</div>

<h4 class="mt-5">Search Users to Loan This Book</h4>

<div class="input-group my-3">
  <input type="text" class="form-control" [(ngModel)]="searchLastName" placeholder="Search by last name" />
  <button class="btn btn-outline-primary" (click)="searchUsers()">Search</button>
</div>

<div *ngIf="foundUsers.length > 0; else noUserFound" class="table-responsive">
  <table class="table table-bordered table-hover text-center">
    <thead class="table-light">
    <tr>
      <th>User No.</th>
      <th>Full Name</th>
      <th>PESEL</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of foundUsers">
      <td>{{ user.id }}</td>
      <td><a [routerLink]="['/user-details', user.id]" class="text-dark text-decoration-none fw-bold">
        {{ user.firstName }} {{ user.lastName }}
      </a></td>
      <td>{{ user.pesel }}</td>
      <td>
        <button class="btn btn-success btn-sm" [disabled]="!isBookAvailable()" (click)="borrowBook(user.id)">
          Borrow
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #noUserFound>
  <div *ngIf="searchPerformed" class="text-center">
    <p>No users found.</p>
  </div>
</ng-template>

<h4 class="mt-5">Loans</h4>
<div *ngIf="bookLoans?.length; else noBookLoans" class="table-responsive mt-3">
  <table class="table table-bordered table-striped text-center mt-2">
    <thead class="thead-dark">
    <tr>
      <th>Full Name</th>
      <th>PESEL</th>
      <th>Loaned</th>
      <th>Returned</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let loan of bookLoans">
      <td><a [routerLink]="['/user-details', loan.userId]" class="text-dark text-decoration-none fw-bold">
        {{ loan.firstName }} {{ loan.lastName }}
      </a></td>
      <td>{{ loan.pesel }}</td>
      <td>{{ loan.start }}</td>
      <td>{{ loan.finish ? loan.finish : '-' }}</td>
      <td>
        <button *ngIf="!loan.finish" class="btn btn-warning btn-sm" (click)="returnBook(loan.id)">
          Return
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #noBookLoans>
  <p class="text-center">This book has not been borrowed yet.</p>
</ng-template>

<div class="text-center mt-4">
  <button (click)="list()" class="btn btn-primary">Back to Book List</button>
</div>
